* {
    padding: 1px 0px 0px 0px;
    margin: 0;
    font-size: 1em;
}

body {
    font-family: 'Source sans pro', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.topo {
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
}

.navegação {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca-topo {
    font-size: 1.5em;
    color: #000;
}

.marca-topo span {
    color: rgb(43, 166, 223);
}

.páginas {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-topo {
    font-size: 1em;
    color: #000;

}

.conteúdo {
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.conteúdo-inicial {
    width: 100%;
    height: calc(100vh - 7vh);
    background-image: url(/pousada-web/assets/img-fundo.jpg);
    background-size: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteúdo-inicial .descrição-inicial {
    width: 40vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    color: #fff;
    background-color: rgba(30, 155, 138, 0.6);
    font-size: 1.5em;    
}

.texto-inicial {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #000;
}

.quartos-inicio {
    width: 75vw;
    height: 30vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.descQuarto {
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.descQuarto img {
    width: 95%;
    height: 50%;
}